<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registration</title>
</head>
<body>
	<form action="register" method="post">
		<div align="center">
			<h1>
				<var>WELCOME TO REGISTRATION PAGE</var>
			</h1>
			<h3>
				<var>ENTER YOUR DETAILS</var>
			</h3>
			<table>
				<tr>
					<td><var>UserName</var></td>
					<td>:</td>
					<td><input type="text" required
						name="u"></td>
				</tr>
				<tr>
					<td><var>Email</var></td>
					<td>:</td>
					<td><input type="text" required
						name="e"></td>
				</tr>
				<tr>
					<td><var>Password</var></td>
					<td>:</td>
					<td><input type="password"
						required name="p"></td>
				</tr>
				<tr>
					<td><var>Confirm Password</var></td>
					<td>:</td>
					<td><input type="password"
						 required name="cp">
					</td>
				</tr>
				<tr>
					<td><var>Mobile</var></td>
					<td>:</td>
					<td><input type="number" 
						required name="m"></td>
				</tr>
				<tr>
					<td><var>Gender</var></td>
					<td>:</td>
					<td><select name="g">
							<option>--select--</option>
							<option required name="g">Male</option>
							<option requires name="g">Female</option>
							<option requires name="g">Others</option>
					</select>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><input type="submit" value="Register"></td>
				</tr>
			</table>

		</div>
	</form>

</body>
</html>